# Created by https://www.toptal.com/developers/gitignore/api/python,windows
# Edit at https://www.toptal.com/developers/gitignore?templates=python,windows

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter
.ipynb_checkpoints/

# IPython
profile_default/
ipython_config.py

# PDM
.pdm.toml
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Entornos virtuales
.env
.venv/
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# MkDocs
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# pytype
.pytype/

# Cython
cython_debug/

# Poetry
poetry.toml

# Ruff
.ruff_cache/

# LSP
pyrightconfig.json

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# ==========================
# Proyecto Data Horizon
# ==========================

# Datasets
data/**/*.csv

# Catálogos necesarios para la interfaz
!data/processed/products_catalog.csv
!data/processed/user_segments.csv

data/**/*.parquet
data/**/*.npz
data/raw/

# JSON de datasets (excepto el dashboard de la app)
data/**/*.json
!data/processed/dashboard_metrics.json

# Modelos
models/
models/*.joblib
*.pkl

# Variables de entorno
.env

# Streamlit
.streamlit/secrets.toml

# Archivos comprimidos
*.zip